:root { 
    --bg: #141929; 
    --dark-bg: #0d1120;
    --fg: #D4DFED; 
    --shadow: #68818D;
    --red: #F66C51;
    --orange: #FE9D5D;
    --yellow: #FFEE94;
    --brown: #e07a5f;
    --pink: #FF85A1;
    --sun: #eb5e28;
    --blood: #9D0208;
}

* {
    font-family: "0xProto Nerd Font" !important;
    font-size: 14px !important;
}

/* Background and Foreground Colors */
#main-window {
      background-color: var(--bg) !important;
      color: var(--fg) !important;
}

/* Customize the Tab Bar */
tab {
    border: none !important;
    border-radius: 0px !important;
    margin: 4px !important;
    color: var(--red) !important;
}

tab[selected="true"] {
    border: none !important;
    color: var(--red) !important;
    border-radius: 0px !impo/* Customize the "List All Tabs" dropdown */
#alltabs-popup {
    background-color: var(--bg) !important;
    color: var(--fg) !important;
    border: 1px solid var(--shadow) !important;
}

/* Customize the items in the "List All Tabs" dropdown */
#alltabs-popup menuitem {
    background-color: var(--bg) !important;
    color: var(--fg) !important;
}

/* Customize the hover effect for items */
#alltabs-popup menuitem:hover {
    background-color: var(--shadow) !important;
    color: var(--bg) !important;
}

/* Customize the selected item in the "List All Tabs" dropdown */
#alltabs-popup menuitem[selected="true"] {
    background-color: var(--sun) !important;
    color: var(--bg) !important;
}

/* Remove any borders or separators between items */
#alltabs-popup menuseparator {
    display: none !important;
}rtant;
}

.tab-background {
    background-color: var(--bg) !important;
    border-radius: 0px !important;
    box-shadow: none !important; 
}

.tabbrowser-tab:hover .tab-background {
    background-color: var(--dark-bg) !important;
    border-color: var(--dark-bg) !important;
}

.tab-line {
    display: none !important;
}

.tab-close-button {
  border-radius: 0px !important;
}

.tab-loading-burst {
    display: none !important;
}

/* Customize the ToolbarBrowser */
#tabbrowser-tabs {
    border: none !important;
}

/* Customize the Toolbar */
#navigator-toolbox {
    background-color: var(--bg) !important;
    border: none !important;
}

.toolbarbutton-icon {
  fill: var(--red) !important;
  border-radius: 0px !important;
}

#PersonalToolbar .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover, #tabbrowser-arrowscrollbox:not([scrolledtostart="true"])::part(scrollbutton-up):hover, #tabbrowser-arrowscrollbox:not([scrolledtoend="true"])::part(scrollbutton-down):hover, toolbarbutton.bookmark-item:not(.subviewbutton, [disabled="true"], [open]):hover, toolbar .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover > .toolbarbutton-icon, toolbar .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover > .toolbarbutton-text, toolbar .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover > .toolbarbutton-badge-stack, #tabs-newtab-button .toolbarbutton-icon {
  background: var(--dark-bg) !important;
  border-radius: 0px !important;
}

/* active toolbar background */
#PersonalToolbar .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active), #tabbrowser-arrowscrollbox:not([scrolledtostart="true"])::part(scrollbutton-up):hover:active, #tabbrowser-arrowscrollbox:not([scrolledtoend="true"])::part(scrollbutton-down):hover:active, toolbarbutton.bookmark-item:hover:active:not(.subviewbutton, [disabled="true"]), toolbarbutton.bookmark-item[open="true"], toolbar .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active) > .toolbarbutton-icon, toolbar .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active) > .toolbarbutton-text, toolbar .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active) > .toolbarbutton-badge-stack {
  background: var(--main-bg) !important;
}

#whats-new-menu-button,
#star-button,
#pocket-button,
#pageActionSeparator,
#pageActionButton,
#reader-mode-button{
  display: none !important;
}

/* Customize the Search Bar */
#searchbar {
    background-color: var(--red) !important;
    color: var(--bg) !important;
    border: none;
}

/* Customize the Menu */
#main-menubar {
    background-color: var(--bg) !important;
    color: var(--fg) !important;
}

#main-menubar > menuitem:hover {
    background-color: var(--sun) !important;
}

/* Customize the Status Bar */
#statusbar {
    background-color: var(--bg) !important;
    color: var(--fg) !important;
}

/* Customize the Context Menu */
#contentAreaContextMenu {
    background-color: var(--bg) !important;
    color: var(--fg) !important;
}

#contentAreaContextMenu > menuitem:hover {
    background-color: var(--sun) !important;
}

/* Customize Scrollbars */
scrollbar {
    background-color: transparent !important;
}

scrollbar thumb {
    background-color: var(--shadow) !important;
    border-radius: 0px;
}

scrollbar thumb:hover {
    background-color: var(--red) !important;
}

/* Customize the URL Bar */
#urlbar-results {
  background-color: var(--bg) !important;
  border-radius: 0px !important;
  padding: 8px !important
}


#urlbar-results:focus {
  background-color: var(--bg) !important;
  border-radius: 0px !important;
  padding: 8px !important
}

.urlbarView-row {
  border-radius: 0px !important;
  color: var(--fg) !important;
}

/* Hide the separator bar in the URL dropdown */
.urlbarView .urlbarView-row[separator="true"] {
    display: none !important;
}

#urlbar, .searchbar-textbox {
    background-color: var(--bg) !important; /* Set background color */
    color: var(--yellow) !important;
    border-radius: 0px !important; /* Optional: round the corners */
    padding: 0px 4px !important; /* Optional: add some padding */
}

#urlbar-background {
    background-color: var(--bg) !important;
    border: none !important;
}

#urlbar-input-container {
    background-color: transparent !important;
}

#urlbar-input {
    color: var(--fg) !important;
    border: none !important;
}

#urlbar-input::selection {
    background-color: var(--yellow) !important; /* Change this to your preferred highlight color */
    color: var(--bg) !important; /* Change this to your preferred text color for selected text */
}

/* Customize the Navigation Toolbar (the area below tabs, containing URL bar) */
#nav-bar {
    background-color: var(--bg) !important;
    border-radius: 0px !important; /* Optional: round the corners */
    color: var(--fg) !important;
    border: none !important;
    box-shadow: none !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

/* Style for all the buttons in the nav-bar */
#nav-bar toolbarbutton {
    color: var(--fg) !important;
    fill: var(--fg) !important;
}

/* Hover effect for buttons */
#nav-bar toolbarbutton:hover {
    background-color: var(--shadow) !important;
}

/* Active (pressed) effect for buttons */
#nav-bar toolbarbutton:active {
    border-radius: 0px !important; /* Optional: round the corners */
    background-color: var(--sun) !important;
}

/* Hide the Firefox Menu Button (Hamburger Menu) */
#PanelUI-button {
    display: none !important;
}

/* Customize */
#identity-box,
#tracking-protection-icon-container,
#urlbar-background {
   display: none !important;
}

/* Style for the focused item in the URL dropdown when using keyboard navigation */
.urlbarView-row[selected] {
    background-color: var(--red) !important;
    color: var(--bg) !important;
    opacity: 0.8; /* Adjust for desired visibility */
}


#folderTree > treechildren::-moz-tree-row {
  height: 19px !important;
  min-height: 19px !important;
}


#bookmarks-view > treechildren::-moz-tree-row {
  height: 19px !important;
  min-height: 19px !important;
}

#contentAreaContextMenu {
    background-color: var(--bg) !important;
    color: var(--fg) !important;
    border: none !important;
    border-radius: 0px !important; /* Optional: round the corners */
    border: none !important;
    outline: none !important;
    -moz-appearance: none !important;
    box-shadow: none !important;
}

menuitem {
    background-color: var(--bg) !important;
    color: var(--fg) !important;
    border-radius: 0px !important; /* Optional: round the corners */
    border: none !important;
}

menuseparator {
    display: none !important;
}

.menupopup-arrowscrollbox {
    background-color: var(--bg) !important;
    outline: none !important;
    border: none !important;
}
